{% extends "base.twig" %} {% block content %}

 


<section class="inner-banner">

  <div class="container pe-0">
    <div class="row">
      <div class="col-lg-7 sb my-auto tiny-editor">
        <h1>
          Who is The
          <strong>Arab Energy Fund</strong>
        </h1>

        <p>
          The Arab Energy Fund, founded in 1974, supports energy security and sustainability across 35+ countries with
          $5.3bn in financing, equity, and advisory solutions. Backed by top credit ratings and strong ESG focus, we
          empower partners, talent, and youth.
        </p>

      </div>
      <div class="col-lg-5 position-relative">
        <img class="img-focus" src="{{ theme.link ~ '/src/img/focus.svg'}}" alt="">
        <img class="mask" src="{{ theme.link ~ '/src/img/ab.jpg'}}" alt="">

      </div>
    </div>
  </div>


</section>

<section class="sy">
  <div class="container">
    <a class="rounded veno-box" href="{{ group.youtube_link.url }}" data-autoplay="true" data-vbtype="video">
      <span class="play-btn">
        <svg>
          <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#play' }}" />
        </svg>
      </span>
      <img class="rounded" style="opacity: 0.8" src="{{ theme.link ~ '/src/img/about/vid.jpg'}}" alt="" />
    </a>
  </div>
</section>

<section class="sb bg-purple">
  <div class="container pe-0">
    <div class="row">
      <div class="col-lg-5 my-auto">
        <div class="tiny-editor">
          <h2><strong>Our Vision & Mission</strong></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis viverra
            ornare, eros dolor interdum nulla,
            <br /><br />
            ut commodo diam libero vitae erat. consectetur adipiscing elit.
            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
            quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <a href="#" class="btn cream mt-4"> Explore more </a>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2 has-layer">
        <img class="img-focus" src="{{ theme.link ~ '/src/img/focus.svg'}}" alt="">
        <img class="mask" src="{{ theme.link ~ '/src/img/ab.jpg'}}" alt="">
      </div>
    </div>
  </div>
</section>

<section class="sb bg-purple">
  <div class="container ps-lg-0">
    <div class="row">
      <div class="col-lg-5 position-relative has-layer">
        <img class="img-focus left" src="{{ theme.link ~ '/src/img/focus.svg'}}" alt="">

        <img class="mask-left" src="{{ theme.link ~ '/src/img/ab.jpg'}}" alt="">
      </div>

      <div class="col-lg-6 my-auto sb offset-lg-1 tiny-editor">
        <h2><strong>Our Structure & Leadership</strong></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla,
          <br /><br />
          ut commodo diam libero vitae erat. consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
          quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
          vitae erat.
        </p>
        <a href="#" class="btn cream mt-4"> Explore more </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white sy position-relative history-section sy">
  <div class="container py-lg-10">
    <img src="{{ theme.link ~ '/src/img/about/h1.jpg'}}" alt="History Image 1" class="history-img-top-left">
    <img src="{{ theme.link ~ '/src/img/about/h2.jpg'}}" alt="History Image 2" class="history-img-top-right">
    <img src="{{ theme.link ~ '/src/img/about/h3.jpg'}}" alt="History Image 3" class="history-img-bottom-left">
    <img src="{{ theme.link ~ '/src/img/about/h4.jpg'}}" alt="History Image 4" class="history-img-bottom-right">

    <div class="row justify-content-center">
      <div class="col-lg-6 tiny-editor text-lg-center">
        <h2>Our History</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla,
          <br /><br />
          ut commodo diam libero vitae erat. consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
          quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
          vitae erat.
        </p>

        <a href="#" class="btn cream mt-5"> Explore more </a>
      </div>
    </div>
  </div>
</section>



{% include 'include/footer.twig' %} {% endblock %}