{% extends "base.twig" %}
{% block content %}

<div class="vh-25">

</div>


<section class="contact-location sy bg-purple">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 location-divs">
                <div class="position-relative tiny-editor sb">
                    <img class="c-svg" src="{{ theme.link ~ '/src/img/about/triangle-svg.svg'}}" alt="" />
                    <h4>Riyadh, Saudi Arabia</h4>
                    <p>
                        Short Address: RRMC 7116 Building No. 7116 Street: Prince Turki
                        Ibn Abdulaziz Al Awal Secondary No. 4400 District: Al Malqa Dist.
                        Postal Code: 13523 Riyadh, Saudi Arabia
                    </p>
                    <div class="d-flex flex-column mt-8">
                        <a href="tel:+97317563777">
                            <img class="contact-icons me-1"
                                src="{{ theme.link ~ '/src/img/about/call-icon-svg.svg'}}" alt="" />
                            +966<span class="linehover cream"> (0)11 4517340</span> / <span class="linehover cream">920002262</span></a>
                    </div>
                    <a href="#" class="btn cream mt-5">GET DIRECTIONS →</a>
                </div>
             
            </div>

                <div class="col-lg-5 location-divs">
                <div class="position-relative tiny-editor sb">
                    <img class="c-svg" src="{{ theme.link ~ '/src/img/about/triangle-svg.svg'}}" alt="" />
                    <h4>Riyadh, Saudi Arabia</h4>
                    <p>
                        Short Address: RRMC 7116 Building No. 7116 Street: Prince Turki
                        Ibn Abdulaziz Al Awal Secondary No. 4400 District: Al Malqa Dist.
                        Postal Code: 13523 Riyadh, Saudi Arabia
                    </p>
                    <div class="d-flex flex-column mt-8">
                        <a href="tel:+97317563777">
                            <img class="contact-icons me-1"
                                src="{{ theme.link ~ '/src/img/about/fax.svg'}}" alt="" />
                            +966<span class="linehover cream"> (0)11 4517340</span> / <span class="linehover cream">920002262</span></a>
                    </div>
                    <a href="#" class="btn orange  mt-5">GET DIRECTIONS →</a>
                </div>
             
            </div>
         
        </div>
    </div>
</section>


 <section class="bg-white sy">

      <div class="container pt-0">
      <div class="cta-card bg-orange p-10 rounded">
        <div class="col-lg-10 h-100">
          <h2>Supplier registration</h2>
          <p class="mt-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor
          </p>
          <a href="#" class="btn mt-6">EXPLORE MORE</a>
          <img
            src="{{ theme.link ~ '/src/img/about/orange-card-svg.svg'}}"
            alt=""
          />
        </div>
      </div>
    </div>

 </section>

{% endblock %}