<footer class="st">

    <div class="footer-bg" style="background-image: url('{{ theme.link ~ '/src/img/icons/footer-bg.svg' }}');"></div>

    <div class="container">
        <div class="row sb">
            <div class="col-lg-3 f-menus">
                <h6 class="mb-1">About US</h6>
                <a href="#" class="linehover cream">Who We Are</a>
                <a href="#" class="linehover cream">Our Structure & Leadership</a>
                <a href="#" class="linehover cream">Our History</a>
            </div>
            <div class="col-lg-3 f-menus">
                <h6 class="mb-1">Investor Relations</h6>
                <a href="#" class="linehover cream">IR Reports</a>
                <a href="#" class="linehover cream">Compliance & AML</a>
                <a href="#" class="linehover cream">Risk Management Framework</a>
                <a href="#" class="linehover cream">Certifications</a>
            </div>
            <div class="col-lg-3 f-menus">
                <h6 class="mb-1">What We Do</h6>
                <a href="#" class="linehover cream">Strategy & Impact Partners</a>
                <a href="#" class="linehover cream">Corporate Banking</a>
                <a href="#" class="linehover cream">Investments & Partnerships</a>
                <a href="#" class="linehover cream">Case Studies</a>
            </div>
            <div class="col-lg-3 f-menus">
                <h6 class="mb-1">Other Links</h6>
                <a href="#" class="linehover cream">Sustainability and Impact</a>
                <a href="#" class="linehover cream">Careers</a>
                <a href="#" class="linehover cream">Press</a>
                <a href="#" class="linehover cream">Contact</a>
                <a href="#" class="linehover cream">Supplier Relations</a>
            </div>
        </div>

        <div class="row g-0 st pb-8 credits">
            <div class="d-flex justify-content-between align-items-center b-top-w pt-5">
                <div class="d-flex gap-2">
                    <span>© 2025 The Arab Energy Fund</span>
                    <a href="#" class="linehover cream">Privacy Policy</a>
                    <a href="#" class="linehover cream">Terms of Service</a>
                </div>
                <div class="d-flex gap-1 socials">
                    <a href="#" target="_blank">
                        <svg>
                            <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#fb'}}" />
                        </svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg>
                            <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#insta'}}" />
                        </svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg>
                            <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#linkdin'}}" />
                        </svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg>
                            <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#fb'}}" />
                        </svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg>
                            <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#youtube'}}" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>