<header class="container active">
    <div class="row">
        <div class="col-lg-2">
            <a href="/" class="header-logo">
               <img src="{{ options.site_logo.url }}" alt="{{ options.site_logo.alt }}" />
            </a>
        </div>

        <div class="col-lg-10 my-auto text-end d-desktop">
            <ul>                
                {% for item in header.get_items %}
                        <li class="{% if item.children %}hasDropdown {% endif %}ms-5">
                            <a href="{{ item.link }}" class="linehover cream"> {{ item.title }} </a>
                        
                        {% if item.children %}
                            <svg height="1rem" width="1rem">
                                <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#carrow'}}" />
                            </svg>

                            <ul class="dropdown-menu">
                                {% for child in item.children %}
                                    <li>
                                        <a href="{{ child.link }}" class="linehover cream" aria-label="{{ child.title }}" {{ child.attr_title }} >
                                            {{ child.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
            {% endfor %}

          </ul>
        </div>

        
    </div>
</header>

{% include 'include/site-search.twig' %}





