<section class="home-banner bg-purple has-layer-w">
    <div class="video-wrapper has-bg"
        style="background-image: url('{{ theme.link ~ '/src/img/home/home-banner.jpg' }}');">
        <div class="vidHome">
            <iframe src="https://player.vimeo.com/video/1103698207?background=1&autoplay=1&loop=1&muted=1"
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="banner-content col-lg-7 tiny-editor">
        <h1>
            Impact Finance for
            <strong>MENA’s Energy Sector</strong>
        </h1>
        <p>
            We are dedicated to fostering a healthier planet through innovative
            sustainability practices. Join us as we lead the charge towards a greener
            tomorrow.
        </p>

        <a href="#" class="btn cream mt-5"> Learn More </a>
    </div>

    <img class="banner-layer" src="{{ theme.link ~ '/src/img/home/banner-layer.svg'}}" alt="" />
    <img class="banner-layer-1" src="{{ theme.link ~ '/src/img/home/home-layer-2.svg'}}" alt="" />

    <div class="bg-purple">
        <div class="container z-10 ps-0">
            <div class="row">
                <div class="col-lg-6 has-layer">
                    <img class="" src="{{ theme.link ~ '/src/img/home/home-2.png'}}" alt="" />
                </div>
                <div class="col-lg-4 my-auto tiny-editor st">
                    <h2>
                        Highlights from
                        <strong>about us </strong>
                    </h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolo
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolo
                    </p>

                    <a href="#" class="btn cream mt-5"> Learn More </a>
                </div>
            </div>
        </div>

        <div class="container home-section-3 position-relative">
            <img class="home-img-3" src="{{ theme.link ~ '/src/img/home/home-3.png'}}" alt="" />

            <div class="z-100">
                <div class="col-lg-5 sb">
                    <h2>
                        Highlights from
                        <div class="gps">Investor Relations</div>
                    </h2>
                </div>

                <div class="row g-5">
                    <div class="col-lg-4 pe-5 tiny-editor">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco
                        </p>
                        <a href="#" class="btn cream mt-5">Explore More</a>
                    </div>

                    <div class="col-lg-4">
                        <a href="#" class="card card-banking">
                            <h3>Compliance & AML</h3>
                            <img class="mask-t" src="{{ theme.link ~ '/src/img/home/a.jpg'}}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#" class="card card-investments">
                            <h3>IR Reports</h3>
                            <img class="mask-t" src="{{ theme.link ~ '/src/img/home/a.jpg'}}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>