<section class="sy">
    <div class="container slider" data-slides="3">
        <div class="swiper">
            <div class="row py-6">
                <div class="col-8">
                    <h2>Slider Title</h2>
                </div>

                <div class="col-4 text-end">
                    <div class="nav">
                        <div class="prev">
                            <span class="btn-arrow ms-4">
                                <svg>
                                    <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#arrow5'}}" />
                                </svg>
                            </span>
                        </div>
                        <div class="next">
                            <span class="btn-arrow ms-4">
                                <svg>
                                    <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#arrow5'}}" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-wrapper pb-7">
                <div class="swiper-slide">
                    <div class="img-detect" data-dpk-call>
                        <a href="{{ news.link }}">
                            <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
                            <span class="arrow">
                                <svg>
                                    <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#arrow5'}}" />
                                </svg>
                            </span>
                        </a>
                    </div>

                    <div class="date">
                        <span>16 Jan 2024 </span>
                        <span> News </span>
                    </div>

                    <a href="{{ news.link }}">
                        <h6 class="text-hover py-4 fw-300">
                            News Title Lorem ipsum dolor sit amet consectetur
                        </h6>
                    </a>
                </div>

                <div class="swiper-slide">
                    <div class="img-detect" data-dpk-call>
                        <a href="{{ news.link }}">
                            <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
                            <span class="arrow">
                                <svg>
                                    <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#arrow5'}}" />
                                </svg>
                            </span>
                        </a>
                    </div>

                    <div class="date">
                        <span>16 Jan 2024 </span>
                        <span> News </span>
                    </div>

                    <a href="{{ news.link }}">
                        <h6 class="text-hover py-4 fw-300">
                            News Title Lorem ipsum dolor sit amet consectetur
                        </h6>
                    </a>
                </div>

                <div class="swiper-slide">
                    <div class="img-detect" data-dpk-call>
                        <a href="{{ news.link }}">
                            <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
                            <span class="arrow">
                                <svg>
                                    <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#arrow5'}}" />
                                </svg>
                            </span>
                        </a>
                    </div>

                    <div class="date">
                        <span>16 Jan 2024 </span>
                        <span> News </span>
                    </div>

                    <a href="{{ news.link }}">
                        <h6 class="text-hover py-4 fw-300">
                            News Title Lorem ipsum dolor sit amet consectetur
                        </h6>
                    </a>
                </div>

                <div class="swiper-slide">
                    <div class="img-detect" data-dpk-call>
                        <a href="{{ news.link }}">
                            <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
                            <span class="arrow">
                                <svg>
                                    <use xlink:href="{{ theme.link ~ '/src/img/icon.svg#arrow5'}}" />
                                </svg>
                            </span>
                        </a>
                    </div>

                    <div class="date">
                        <span>16 Jan 2024 </span>
                        <span> News </span>
                    </div>

                    <a href="{{ news.link }}">
                        <h6 class="text-hover py-4 fw-300">
                            News Title Lorem ipsum dolor sit amet consectetur
                        </h6>
                    </a>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>